:root{
    --orange: #D2872C;
    --gray: #766F68;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 2rem;
    color: var(--gray);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    font-size: 2rem;
    color: var(--orange);
}

header a{
    color: var(--gray);
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: 500;
}

main{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 0 0;
}

main .content{
    margin: 1rem;
}

main .content h1{
    font-size: 4.5rem;
}

main .content p{
    font-size: 2rem;
    margin-top: 2rem;
}

main .content div{
    width: 70%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: var(--orange);
    text-align: center;
    cursor: pointer;
}

main img{
    width: 55rem;
}